/node_modules

/coverage

/.next/
/out/

.DS_Store
*.pem

npm-debug.log*

.env
.env.*
!.env.example

.vercel

*.tsbuildinfo
next-env.d.ts

**/.terraform/
*.tfstate
*.tfstate.*
**/backend.hcl
**/terraform.tfvars
