.footer {
  position: sticky;
  background-image: linear-gradient(
    to right,
    var(--nav-background-color-2),
    var(--nav-background-color-1)
  );
  padding: 30px 0;
}

.container {
  margin: 0 6.3rem;
  padding: 0 20px;
  color: var(--hover-text-color);
}

.footerContent {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--hover-text-color);
}

.specialThanks {
  font-size: 16px;
  text-align: center;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid var(--hover-text-color);
  color: var(--hover-text-color);
}

.footerBottom div {
  display: block;
  font-size: 14px;
  justify-content: space-between;
  color: var(--hover-text-color);
}

.socialIcons a {
  display: inline-flex;
  font-size: 22px;
  margin-left: 40px;
  transition: color 0.3s ease;
  color: var(--hover-text-color);
}

.socialIcons a:hover {
  color: var(--backdrop-color);
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0 10px;
  }

  .specialThanks {
    font-size: 14px;
  }

  .footerBottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerBottom p {
    margin-bottom: 10px;
  }

  .socialIcons {
    margin-top: 20px;
  }

  .socialIcons a {
    margin: 0 10px;
  }
}
