.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--nav-background-color-3) 8%,
    var(--nav-background-color-2) 50%,
    var(--nav-background-color-1) 90%
  );
  box-shadow: 0 0 0 rgba(0, 0, 0, 10);
  padding: 15px 35px;
}

.tabsContainer {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.tab {
  color: var(--hover-text-color);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.1s ease;
}

.tab:hover {
  color: var(--lighter-accent-color);
}

.extensionButton {
  background-color: var(--primary-color);
  color: var(--hover-text-color);
  padding: 12px 22px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.extensionButton:hover {
  background-color: var(--accent-color);
}
