@import "tailwindcss/base";

:root {
  --default-font-family: var(--font-mulish);

  --nav-background-color-1: #6a8fab;
  --nav-background-color-2: #e1e8eb;

  --background-color: #e1e8eb;
  --backdrop-color: #313131;

  --primary-color: #113354;
  --accent-color: #17497b;

  --text-color: #ffffff;
  --hover-text-color: #ffffff;

  --error-color: #e3002d;
  --hover-error-color: #ff0033;

  --success-color: #4caf50;

  --cancel-background-color: #4b4b4b;
  --hover-cancel-color: #cccccc;

  --gray-neutral-color: #808080;

  background: var(--background-color);
  color: var(--text-color);

  scrollbar-color: #888 transparent;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: var(--default-font-family);
  scrollbar-gutter: stable;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

main {
  min-height: 100vh;
}

::selection {
  background-color: var(--accent-color);
  color: var(--hover-text-color);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
